.button {
	display: inline-block;

	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.button:disabled {
	cursor: progress;
}

.button svg {
	transition: all 0.2s;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.primary svg {
	fill: var(--white);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: none;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.ghost svg {
	fill: var(--black);
}

.ghost:hover svg {
	fill: var(--white);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transition: all 0.2s;
	transform: rotate(90deg);
}
