.form {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;

	align-items: center;

	font-size: 14px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.title {
	justify-self: left;
}

.description,
.submit {
	grid-column: start / end;
}

.submit {

}

.info {
	margin-left: 16px;
}

.panel {
	position: relative;

	margin-top: 16px;

	padding: 20px;

	border-radius: 5px;
}

.success {
	background: var(--green-light);
}

.error {
	background: var(--red-light);
}

.panelTitle {
	margin-top: 0;

	font-weight: bold;
}

.panelText {
	margin: 0;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

.error .close path {
	stroke: var(--red);
}

@media screen and (max-width: 1100px) {
	.form {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 640px) {
	.form {
		grid-template-columns: [start] 1fr [end];
	}

	.close {
		top: 10px;
		right: 10px;
	}
}